<?php if (!($_shippingRateGroups = $this->getShippingRates())): ?>
   
<?php else: ?>
<dl id="checkout-shipping-method-loadding" class="sp-methods">
    <?php $_sole = count($_shippingRateGroups) == 1; foreach ($_shippingRateGroups as $code => $_rates): ?>
        <dt><?php echo $this->getCarrierName($code); ?></dt>
        <dd>
            <ul>
            <?php $_sole = $_sole && count($_rates) == 1; foreach ($_rates as $_rate): ?>
                <li>
                   <?php if ($_rate->getErrorMessage()): ?>
                    
                   <?php else: ?>
                        <?php if ($_sole) : ?>

                        <span class="no-display"><input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" checked="checked" /></span>
                        <?php else: ?>
                        <input name="shipping_method" type="radio" value="<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>"<?php if($_rate->getCode()===$this->getAddressShippingMethod()) echo ' checked="checked"' ?> class="radio shipping_method_handle" />
                        <?php endif; ?>
                        <label for="s_method_<?php echo $_rate->getCode() ?>" id="s_method_<?php echo $_rate->getCode() ?>" value="<?php echo $_rate->getPrice() ?>">
                        
                        
                       <?php if(Mage::getStoreConfig('o2tiallmoip/config/icones_na_entrega')): ?>
                       <?php if(Mage::getStoreConfig('o2tiallmoip/config/trocar_icones_na_entrega')):
		                if ($code == "pedroteixeira_correios" || $code == "flatrate" || $code == "freeshipping"):
		                $parametro = $_rate->getCode();
		                
		                switch ($parametro){
		                case "pedroteixeira_correios_40045":
		                $imagem = Mage::getBaseUrl('media') . "o2ti/allmoip/". Mage::getStoreConfig('o2tiallmoip/config/icone_sedex_a');
		                break;
		                case "freeshipping_freeshipping":
		                $imagem = Mage::getBaseUrl('media') . "o2ti/allmoip/". Mage::getStoreConfig('o2tiallmoip/config/icone_gratis');
		                break;
		                case "pedroteixeira_correios_41106":
		                $imagem = Mage::getBaseUrl('media') . "o2ti/allmoip/". Mage::getStoreConfig('o2tiallmoip/config/icone_pac');
		                break;
		                case "pedroteixeira_correios_40010":
		                $imagem = Mage::getBaseUrl('media') . "o2ti/allmoip/". Mage::getStoreConfig('o2tiallmoip/config/icone_sedex');
		                break;
		                case "pedroteixeira_correios_40215":
		                $imagem = Mage::getBaseUrl('media') . "o2ti/allmoip/". Mage::getStoreConfig('o2tiallmoip/config/icone_sedex_10');
		                break;
		                case "pedroteixeira_correios_40290":
		                $imagem = Mage::getBaseUrl('media') . "o2ti/allmoip/". Mage::getStoreConfig('o2tiallmoip/config/icone_sedex_hoje');
		                break;
		                case "flatrate_flatrate":
		                $imagem = Mage::getBaseUrl('media') . "o2ti/allmoip/". Mage::getStoreConfig('o2tiallmoip/config/icone_fixo');//pac
		                break;
		                }
		               	?>
				<img src="<?php echo $imagem?>">  <br />
			       	<?endif;  
		       else: ?>
                       <?php  if ($code == "pedroteixeira_correios" || $code == "flatrate" || $code == "freeshipping"):
				$pedroteixeira_correios_40045 = $this->getSkinUrl('o2ti_moip/imagem/pedroteixeira_correios_40045.png'); //sedex_acobrar
				$pedroteixeira_correios_41106 = $this->getSkinUrl('o2ti_moip/imagem/pedroteixeira_correios_41106.png'); //pac
				$pedroteixeira_correios_40010 = $this->getSkinUrl('o2ti_moip/imagem/pedroteixeira_correios_40010.png'); //sedex
				$pedroteixeira_correios_40215  = $this->getSkinUrl('o2ti_moip/imagem/pedroteixeira_correios_40215.png'); //sedex10
				$pedroteixeira_correios_40290  = $this->getSkinUrl('o2ti_moip/imagem/pedroteixeira_correios_40290.png'); //sedexhoje
				$freeshipping_freeshipping = $this->getSkinUrl('o2ti_moip/imagem/freeshipping_freeshipping.png'); //frete gratis 
				$flatrate_flatrate = $this->getSkinUrl('o2ti_moip/imagem/flatrate_flatrate.png'); //frete fixo
			?>
			
			<img src="<?php echo $this->getSkinUrl('o2ti_moip/imagem/'); echo $_rate->getCode()?>.gif"  id="o2ti<?php echo $_rate->getCode() ?>.png" alt="<?php echo $_rate->getMethodTitle() ?>"> <br />
			<?php endif; ?>
			<?php endif; ?>
			<?php endif; ?>
                       
                        
                       <?php echo $_rate->getMethodTitle() ?>
                        <?php $_excl = $this->getShippingPrice($_rate->getPrice(), $this->helper('tax')->displayShippingPriceIncludingTax()); ?>
                        <?php $_incl = $this->getShippingPrice($_rate->getPrice(), true); ?>
                        <?php echo $_excl; ?>
                        <?php if ($this->helper('tax')->displayShippingBothPrices() && $_incl != $_excl): ?>
                            (<?php echo $this->__('Incl. Tax'); ?> <?php echo $_incl; ?>)
                        <?php endif; ?>
                        </label>
                   <?php endif ?>
                </li>
            <?php endforeach; ?>
            </ul>
        </dd>
    <?php endforeach; ?>
<?php /*
		<dt><div class="validation-advice" id="advice-required-entry_shipping" style="display:none;"><?php echo $this->__('Please click select one any button radio on shipping method!')?></div></dt>
		*/?>
</dl>

<?php endif; ?>
<script type="text/javascript">
	var shipping_method_changed=-1; //khac phuc tren IE khi change phai click 2 lan` moi ajax
	$MW_Onestepcheckout(".shipping_method_handle").click(function(){
		if(shipping_load())
		{			
				if(this.value != shipping_method_changed){
					updateShippingMethod();
					shipping_method_changed = this.value;
				}
		}		
	});


</script>
