#icone img, #band img, #moip_debito_bandeiras img{width:50px;}
#title {width:99%; float:left;background:#000; color:#fff;border-radius:3px 3px 0 0;font-size:12px;padding: 5px 0 5px 5px;}
#subtitle { padding:5px 0 5px 5px;font-size:12px;}
#icone {min-width:45px;width:21%; float:left;}
#desc {width:49%; float:left;}
#desc2 {width:79%; float:left;}
#desc h3, #valor h3 {font-size:11px;}
#valor {width:30%; float:left;}
.desc {font-size:10px;}
#bandeiras {min-width:45px;width:20%;min-height: 195px; float:left;}
#linhaboleto, #linhaparcelas, #linhatransf {width:97%; float:left;padding-bottom:5px;padding-top:5px;border-bottom: 1px solid #CCCCCC;cursor: pointer;background:#f1f1f1;}
#linhaboleto:hover, #linhaparcelas:hover, #linhatransf:hover {background:#fff}
#conteudotransf, #linhacartao, #conteudoboleto{width:100%; float:left;display:none;border-bottom: 1px solid #CCCCCC; padding-top:10px; padding-bottom:10px}
#payment_form_o2ti_moip_standard{margin: 0; width: 100%;list-style:none;}
.forma_pg {float:left;width:5%; padding-bottom:5px;padding-top:5px;border-bottom: 1px solid #CCCCCC;cursor: pointer;background:#f1f1f1; }
#pf {diplay:none;}
.tooltip {color: #000000; outline: none;cursor: help; text-decoration: none;position: relative;}
.tooltip span {margin-left: -999em;position: absolute;padding: 10px;}
.tooltip:hover span {border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; font-family: Calibri, Tahoma, Geneva, sans-serif;position: absolute; left: 1em; top: 2em; z-index: 99;margin-left: 0; width: 200px;}
.tooltip:hover em {font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;display: block; padding: 0.2em 0 0.6em 0;}
.help {background: #9FDAEE; border: 1px solid #2BB0D7;}